@model IEnumerable<KHBPA.Models.News>
@{
    ViewBag.Title = "News Articles";
}
<div class="container">
  <div class="row" style="margin: 3% 0">

    <h2>@*News/Events*@</h2>
    <div class="col-lg-12">
      <ul class="nav nav-pills">

        <li class="active"><a data-toggle="tab" href="#news">News</a></li>
        <li><a data-toggle="tab" href="#calendar">Calendar of Events</a></li>
      </ul>

      <div class="tab-content">
        <div id="news" class="tab-pane fade in active">
          <div class=" col-sm-12" style="background-color: #18bc9c !important;">
            <h1 class="display-3 text-primary text-uppercase">@ViewBag.Title</h1>
          </div>
          <div class="well col-sm-12" style="background: rgba(236, 240, 241, 0.85); border-radius: 5px; box-shadow: rgba(175,175,175, 0.5) 3px 3px 5px">
            <p>
              @Html.ActionLink("Add New Article", "Create")
            </p>
            <div class="col-lg-5 col-lg-offset-1">
              <table class="table">
                @*<tr>
                      <th>
                          @Html.DisplayNameFor(model => model.Title)
                      </th>
                      <th>
                          @Html.DisplayNameFor(model => model.ImageUrl)
                      </th>
                      <th>
                          @Html.DisplayNameFor(model => model.ArticleUrl)
                      </th>
                      <th>
                          @Html.DisplayNameFor(model => model.UploadDate)
                      </th>
                      <th></th>
                  </tr>*@
                @foreach (var item in Model)
                {
                  <tr>
                    <td>
                      <img src="@Url.Content(item.ImageUrl)" style="width:200px; height:200px;" />
                    </td>
                    <td>
                      <a href="@Url.Content(item.ArticleUrl)">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.UploadDate)
                    </td>
                    <td>
                      @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                      @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                      @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                  </tr>
                }
              </table>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
              <br />
              <div class="col-lg-12">
                <a class="twitter-timeline" data-height="400" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw">Tweets by KyHBPA</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>

          </div>


        </div>

        <div id="calendar" class="tab-pane fade">
          <div class="col-sm-12" style="background-color: #18bc9c !important;">
            <h1 class="display-3 text-primary text-uppercase">Calendar</h1>
          </div>
          <div class="well col-sm-12" style="background: rgba(236, 240, 241, 0.85); border-radius: 5px; box-shadow: rgba(175,175,175, 0.5) 3px 3px 5px">
            Here are our events for the upcoming month: </br>

            @*If you are interested select the event to learn more</br>*@
            </br>
            <div style="height:60vw; width:80vw; margin-left: auto; margin-right: auto">
              <iframe src="https://calendar.google.com/calendar/embed?title=KHBPA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vince.patrick225%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York"
                      style="border-width:0; height:60vw; width:80vw;" frameborder="0" scrolling="no"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


