@model IEnumerable<KHBPA.Models.Document>

@{
    ViewBag.Title = "Photo Gallery";
}
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/Content/SocialMediaIcons.css" type="text/css" />
<style>
    .img {
        position: relative;        
        width: 200px;
        height: 200px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="container">
    <div class="row" style="margin: 3% 0">
        <div class=" col-sm-11 col-sm-offset-1" style="background-color: #0D3514 !important;">
            <h1 class="display-3 text-primary text-uppercase">@ViewBag.Title</h1>
        </div>
        <div class="well col-sm-11 col-sm-offset-1" style="background: rgba(236, 240, 241, 0.85); border-radius: 5px; box-shadow: rgba(175,175,175, 0.5) 3px 3px 5px">
            <p>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Add New Photo", "PhotoUpload")
                    }
                }
                
            </p>
            <table class="table">
                @{int count = 0; }
                @foreach (var item in Model)
                {
                    if(item.FileBytes != null || item.FileBytes.Equals(""))
                    {
                        if (item.DocumentName.Equals("Photo"))
                        {
                            if (count == 0)
                            {
                                @:<tr>
                            }
                            if (count < 4)
                            {
                                <td>                                  
                                    <img class="img" src="@(string.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.FileBytes)))" />
                                    @{
                                        if (User.IsInRole("Admin"))
                                        {
                                            <br />
                                           <center>@Html.ActionLink("Remove", "Delete", new { id = item.ID })</center>
                                        }
                                    }
                                </td>
                               count++;
                            }
                            if (count == 4)
                            { 
                                @: </tr> 
                                count =0;
                            }
                        }
                    }
                 }
            </table>
        </div>
    </div>
</div>
