@model KHBPA.Models.Document

@{
    ViewBag.Title = "Create";
}
<div class="container-fluid">
  <h2>Create</h2>


  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>Document</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.DocumentName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.UploadDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.UploadDate, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.UploadDate, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.UploadedBy, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.UploadedBy, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.UploadedBy, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.FileBytes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.FileBytes, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.FileBytes, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.ContentType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.ContentType, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ContentType, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Discriminator, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Discriminator, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Discriminator, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.ContentLength, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.ContentLength, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ContentLength, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Create" class="btn btn-default" />
        </div>
      </div>
    </div>
  }

  <div>
    @Html.ActionLink("Back to List", "Index")
  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
