@model KHBPA.Models.RegisterViewModel
@{
    ViewBag.Title = "Horsemen Helping Horse";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>I AM A MEMBER OF THE KENTUCKY HORSEMEN'S  BENEVOLENT AND PROTECTIVE ASSOCIATION. I UNDERSTAND THAT I AM ENTITLED TO ALL BENEFITS ESTABLISHED BY THE HBPA FOR ITS MEMBERS.</h4>
    <h5> I hereby appoint the Kentucky Horsemen's Benevolent and Protective Association, INC. to act as my sole and exclusive agent and representative for the purpose of negotiating and 
    executing, or refusing to execute, with Thoroughbred race tracks in Kentucky any and all contracts and agreements relating to ThoroughBred racing in the state. By this appointment, I 
    hereby revoke any nd all previous authorities given by me for similar purposes.</h5>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div width ="100%">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4" >
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Affiliation, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Affiliation, new { @class = "form-control" })
        </div>
        <div>
        @Html.LabelFor(m => m.ManagingPartner, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.ManagingPartner, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group">
        <div>
        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
            </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
        </div>

    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>  
    <div class="form-group">
        <div>
        @Html.LabelFor(m => m.IsOwner, new { @class = "col-md-2 control-label" })
            </div>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.IsOwner, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.IsTrainer, new { @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.IsTrainer, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.IsOwnerAndTrainer, new { @class = "col-md-1 control-label" })
        </div>
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.IsOwnerAndTrainer, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.LicenseNumber, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.LicenseNumber, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AgreedToTerms, new { @class = "col-md-2 control-label" })
        <div class="col-md-1">
            @Html.CheckBoxFor(m => m.AgreedToTerms, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
